<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>add new product</title>

</head>

<body>

<div class="container">
    <div class="row" style="margin-top: 10%">
        <div class="col-lg"></div>
        <div class="jumbotron col-lg">
            <h3 th:text="#{label.form.title}">Please fill the form</h3>

            <form class="form-group"  th:action="@{/addProduct}" th:object="${product}" method="post" enctype="multipart/form-data">
                <div>
                    <label th:text="#{label.product.name}">name</label>
                    <input class="form-control" th:field="*{name}"/>
                    <p class="text-danger" th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label th:text="#{label.product.description}">Description</label>
                    <input class="form-control" th:field="*{description}" />
                    <p class="text-danger" th:each="error: ${#fields.errors('description')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label th:text="#{label.product.price}">Price</label>
                    <input class="form-control" th:field="*{price}" />
                    <p class="text-danger" th:each="error: ${#fields.errors('price')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label th:text="#{label.product.image}">Image</label>
                    <input type="file" class="form-control" th:field="*{image}" />
                    <p class="text-danger" th:each="error: ${#fields.errors('image')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label th:text="#{label.product.category}">Category</label>
                    <select class="form-control" th:field="*{category}">
                        <option class="dropdown-item" th:each="category : ${application.categories}"
                                th:value="${category.ordinal()}"
                                th:text="${category.name}">
                        </option>
                    </select>
                    <p class="text-danger" th:each="error: ${#fields.errors('category')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label th:text="#{label.product.quantity}">Quantity</label>
                    <input class="form-control" th:field="*{quantity}" />
                    <p class="text-danger" th:each="error: ${#fields.errors('quantity')}"
                       th:text="${error}">Validation error</p>
                </div>
                <p class="lead"></p>
                <div>
                    <button type="submit" th:text="#{label.form.submit}" class="btn btn-primary form-control">Submit</button>
                </div>
            </form>
            <a th:href="@{/home}" th:text="#{label.form.mainLink}">login</a>

        </div>
        <div class="col-lg"></div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>


</form>
